// the panel which will open when bass icon is clicked
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    
    a {
    padding: 8px 8px 8px 32px;
    font-family: "roboto";
    font-size: 1.2em;
    color: $title-color;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    height: 60px;
    
    
        
    }
    // dropdown group
    .dropdown-container a{
        font-family: "roboto";
        font-size: 14px;
        height: 19px;
        width: 65px;
        margin-top: 20px;
        color: $lighter-purple;
    }
    .dropdown-btn{
      border-bottom: 1px solid $lighter-purple; align-items: center;
    }
    .a-withBottomBorder a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $lighter-purple;
    }
}



.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

.header-menu{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: center;
    width: 100%;


    &_left{
        width: 60%;
        display: contents;
        border: 0;
        
        i{
            font-size: 1.5em;
            margin-right: .5em;
            font-size: 1.4em;
            &:before{
              color: $title-color;
              font-size: 1.1em;

            }
        }
        &-logo{
            width: 91px;
            height: unset;
            img{
                width: 75px;

            }
        }

    }
    &_right{
        width:58%;
          display: inline-flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 15px;
        &_4{
            background-color: $button;
            color: white;
            border: 0;
            height: 34px;
            line-height: 20px;
            width: 70px;
            @extend %btn;
            font-family: "roboto";
            font-size: 12px;
            font-weight: 500;
            
        }
        &_1,&_2,&_3{
            width: 10%;
        }
        &_4,i{
            width: 32%;
            margin: 10px 0px 7px 0px;
        }
        i{
            margin-right: 1.2em;
          
            &:before{
              font-size: 1.2em;
              color: $title-color;
            }
            
        }
        &_1,&_2,&_3{
            display: none;
        }
        .fa-phone{
            font-size: 1em;
            color: $title-color;
            transform: scaleX(-1);;
        }
    }
}
.header-mobile-menu{
    .header-menu_left-logo{
        padding-left: 0;
        
    }
    .sidepanel{
        padding-top: 4px;
        &_left{
           i:before{
                    
                    font-size: 1.4em;
                } 
          
        }
        .fa-bars{
            font-size: 1.3em;
            
        }
        .header-menu_left{
            align-items: center;
            
            #logo-inner-panel{
                    width: 75px;
                    height: 27px;
            }
        }
    }
    .dropdown-btn{
      display: flex;
    justify-content: space-between;
    }
    
}
.header-menu_left-burger-menu,.header-menu_left-logo{
            height: unset !important;
                
            }
#Logo{
    color: $title-color;
}
.fa-phone{
            font-size: 1em;
            color: $title-color;
            transform: scaleX(-1);;
        }
.mobile-menu-last-group{
            width: 164px;
            height: 172px;
            margin: auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 46px;
            margin-top: 38px;
           a{
               color: $title-color;
               height: 16px;
               font-size: 14px;
               margin-top: 20px;
               font-family: "roboto";
               font-weight: bold;
               padding: 0;
               &:nth-child(1){
                   margin-top: 0;
               }
               &:nth-child(3){
                    width: 164px;
                    height: 50px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    i:before{
                        margin-left: 8px;
                    }
               }
               
           }
           .slider-btn{
               width: 160px;
               height: 50px;
               font-size: 14px;
               
               margin: auto;
               margin-top: 10px;

               
           }
           
       } 
.header-desktop-menu{
    display: none;
}