


@media only screen and (min-width:767px) and (max-width:1200px){
.header-menu_right_3{
    display:contents;
}
.header-menu_right {
    width: 79%;
}
.header-menu_right_4 {
    width: 21%;}
    .header-menu_right {
    text-align: right;
}
.header-menu_right i {
    width: 0%;}

    //slider 
    .slider{
    background-image: url("https://i.ibb.co/zbJjfj8/hero-img.jpg");
    height: 1116px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 76% 0%;
    width: 769px;
    }
 // products   
    .products>div{
    display: flex;
    flex-direction: row;
    width: 90%;

}
.products{
    width: 95%;
    margin: auto;
    div{
      justify-content: space-around;
    }
    
    background-color: #F3F3FF;
      h2{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        width: 189px;
        line-height: 60px;
        font-size: 30px;
        margin: auto;
        margin-top: 29px;
      }
    .card{
        display: flex;
        flex-direction: column;
        height: 60px;
        margin-top: 10px;
        background-color: white;
        width: 210px;
        height: 140px;
        

        img{
            padding-left: 16px;
        }
        &-body{
            width: 8em;
            text-align: center;
        }
    }
}
}