
@import 'config';
@import 'media-query-responsive-mixins.scss';

@import 'responsive-slider';
@import 'mobile-header-menu';







%btn{
  display: flex;
  justify-content: center;
  align-items: center;
}



.products{
    width: 95%;
    margin: auto;
    flex-direction: column;
    background-color: #F3F3FF;
    .products>div{
    display: flex;
    flex-direction: column;
    width: 90%;

}
      h2{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        width: 67%;
        line-height: 2;
        font-size: 1.8em;
        margin: auto;
        margin-top: 10%;
        height: 20%;
      }
    .card{
        display: flex;
        height: 20%;
        margin-top: 3.5%;
        background-color: white;
        &:hover{
        background-color: $menu-desktop-purple;
      }
      &:hover .card-body>h5{
        color: white;
      }

        img{
            padding-left: 5.6%;
        }
        &-body{
            width: 8em;
            text-align: center;
        }
    }
}

        .card:nth-child(1) { border: 1px solid $desktop-menu-color ;
        border-bottom: #A4AAD0; margin-top: 6%;}
        .card:nth-child(2) { border:1px solid $desktop-menu-color;border-top:$lighter-purple; }
        .card:nth-child(3) { border:1px solid $desktop-menu-color; border-bottom:$lighter-purple; }
        .card:nth-child(4) { border:1px solid $desktop-menu-color; border-top:$lighter-purple; }
        .card:nth-child(5) { border:1px solid $desktop-menu-color;border-bottom:$lighter-purple; }

.best-broker1{
  h3{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 1.5;
        font-size: 1.9em;
        margin-top: 1em;
        height: 30%;
      }
      article{
        width: 95.4%;
        margin: auto;
        color: $dsc-color;
        text-align: left;
        line-height: 35px;
        font-family: "roboto";
        font-weight: regular;
        font-size: 1.22em;
        
      }
}
.best-broker2{
  h4{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 2;
        font-size: 1.5em;
        margin-top: 10%;
        
      }
      article{
        width: 95.4%;
        margin: auto;
        color: #42415B;
        text-align: left;
        line-height: 1.7;
        font-family: "roboto";
        font-size: 1.1em;
        
          h5{
            font-family: "roboto";
          font-weight: bold;
          font-size: 1em;
          line-height: 1.7;
          width: 88%;
          text-align: left;
          color: $title-color;
          
           &:before{
          font-family: "Font Awesome 5 Free";
          content: "\f058";
          display: inline-block;
        margin-right: 5%;}
        
        }
      }
         
      
    }
//big mobile 556 to 650
@media only screen and (min-width:556px) and (max-width:650px){
  .slider-title {
    width: 50%;
  }
  .slider-desc{width: 47.5%;}
}


//tablet1
@media only screen and (min-width:768px) and (max-width:992px){
  html{
    width: fit-content;
  }
.header-menu{
  width: 100%;

}
  .header-menu_right_3{
    display:contents;
    font-weight: bold;
}
.header-menu_right_4{
  width: 146px;
  height: 3.3em;
  margin-left: 1em;
}
.header-menu_right {
    width: 79%;
    padding-right: 2.5em;

}
.header-menu_right_4 {
    width: 21%;}
    .header-menu_right {
    text-align: right;
}
.header-menu_right i {
    width: 0%;}
.header-desktop-menu{
    display: none;
}

 // products   
    .products>div{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.products{
    width: 95%;
    margin: auto;
    div{
      justify-content: center;
    }
    
    background-color: #F3F3FF;
      h2{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        width: 27%;
        line-height: 2;
        font-size: 1.8em;
        margin: auto;
        margin-top: 4%;
      }
    .card{
        display: flex;
        flex-direction: column;
        height: 60px;
        margin-top: 10px;
        background-color: white;
        width: 22.2%;
        height: 8.7em;
        justify-content: center;
    align-items: center;
    margin: .8em;

        img{
            padding-left: 16px;
        }
        &-body{
            width: 8em;
            text-align: center;
        }
    }
}
.best-broker1{
  margin-top: 11%;
}
}

// tablet 2
@media only screen and (min-width:992px) and (max-width:1024px){

  .header-menu_right{
     
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
    
  }
  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
    &:before{
      font-size: 0.9em;
    }
}
.header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
}

.header-menu_right_4{
    width: 13%;
}
.header-desktop-menu{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #9CA2C6;
    text-align: center;

  a{
    flex-basis: 7%;

  }
}
  .header-menu_right{
      i:before {
      font-size: 1;
      
  }
  a{
      display: block;
      flex-basis: 26%;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
    
  }
  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
    &:before{
      font-size: 0.9em;
    }
}
.header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
}

.header-menu_right_4{
    width: 13%;
}
// .header-desktop-menu{
//   display: flex;
//    justify-content: center;
//     align-items: center;
//     height: 3em;
//     background-color: $menu-desktop-purple;
    

//   a{
//     flex-basis: 7%;
//     color: white;

//   }
// }
.header-desktop-menu{
    display: none;
}
.products-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    width: 89%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    .card{
      display: flex;
    background-color: white;
    flex-direction: column;
    width: 165px;
    height: 183px;
    align-items: center;
    justify-content: center;
    margin: auto;
    &:nth-child(1){
      margin-top: 0;
      &:hover{
        background-color: $menu-desktop-purple;
      }
      &:hover .card-body>h5{
        color: white;
      }
    }
    }
    .products > div {
    display: flex;
    flex-direction: row !important;
    
}

}

}//END---@media only screen and (min-width:769px) and (max-width:1024px)

// menu burger is recommended to be regular on small laptop screen
// @media only screen and (min-width:880px) and (max-width:1024px){
//   .header-desktop-menu{
//   display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 3em;
//     background-color: $desktop-menu-color;
//     text-align: center;

//   a{
//     flex-basis: 12%;
//     font-family: "roboto";
//     color: white;
//     text-decoration: none;
//     font-size: 1.1em;
  

//   }
// }
// .slider{
//   width: 100% ;}
// .header-menu_left-burger-menu{
//   display: none;
// }
// }//END -- // menu burger is recommended to be regular on small laptop screen


// products cards / header / slider desktop screen
@media only screen and (min-width:1025px) {
  .header-menu_left-burger-menu{
  display: none;
}
//header
   .header-menu_right{
          i:before {
          font-size: 1;
          
      }
      a{
      display: block;
      flex-basis: 20%;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
    
  }
  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
    &:before{
      font-size: 0.9em;
    }
}
.header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
}

.header-menu_right_4{
    width: 13%;
}

  .header-menu_right{
      i:before {
      font-size: 1;
      
  }
  a{
      display: block;
      flex-basis: 20%;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
    
  }
  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
    &:before{
      font-size: 0.9em;
    }
}
.header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
}

.header-menu_right_4{
    width: 13%;
}
.header-desktop-menu{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: $desktop-menu-color;
    text-align: center;

  a{
    flex-basis: 12%;
    font-family: "roboto";
    color: white;
    text-decoration: none;
    font-size: 1.1em;
  

  }
}
   // products   
    .products>div{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.products{
    width: 95%;
    margin: auto;
    height: 54vh;
    div{
      justify-content: center;
    }
    
    background-color: #F3F3FF;
      h2{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        width: 27%;
        line-height: 2;
        font-size: 1.8em;
        margin: auto;
        margin-top: 4%;
      }
    .card{
        display: flex;
        flex-direction: column;
        height: 60px;
        margin-top: 10px;
        background-color: white;
        width: 15.2%;
        height: 8.7em;
        justify-content: center;
    align-items: center;
    margin: .8em;
      &:hover{
        background-color: $menu-desktop-purple;
      }
      &:hover .card-body>h5{
        color: white;
      }

        img{
            padding-left: 16px;
        }
        &-body{
            width: 8em;
            text-align: center;
        }
    }
}
.best-broker1{
  padding-left: 17%;
  h3{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 1.5;
        font-size: 1.9em;
        margin-top: 1em;
        height: 8%;
        
      }
      article{
        width: 95.4%;
        margin: auto;
        color: $dsc-color;
        text-align: left;
        line-height: 35px;
        font-family: "roboto";
        font-weight: regular;
        font-size: 1.22em;
        margin-left: 0;
        
      }
}
.best-broker2{
  padding-left: 17%;
  h4{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 2;
        font-size: 1.5em;
        margin-top: 8%;
      
        
      }
      article{
        width: 95.4%;
        margin: auto;
        color: #42415B;
        text-align: left;
        line-height: 1.7;
        font-family: "roboto";
        font-size: 1.1em;
        margin-left: 0;
        
          h5{
            font-family: "roboto";
          font-weight: bold;
          font-size: 1em;
          line-height: 1.7;
          width: 88%;
          text-align: left;
          color: $title-color;
          
           &:before{
          font-family: "Font Awesome 5 Free";
          content: "\f058";
          display: inline-block;
        margin-right: 2%;}
        
        }
      }
         
      
    }
}