
@import 'config';
@import 'desktop-view';
@import 'tablet-view';
@import 'mobile-header-menu';

%btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


// slider 
.slider{
    background-image: url("https://i.ibb.co/zbJjfj8/hero-img.jpg");
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 54% 0%;
    width: 320px;

    &-title{
        font-size: 38px;
        font-family: "roboto";
        font-weight: bold;
        color: white;
        width: 290px;
        text-align: center;
        margin: auto;
        padding-top: 30px;
        font-size: 38px;
        height: 144px;
        line-height: 48px;
        
    }
    &-desc{
      font-size: 38px;
        font-family: "roboto";
        
        color: white;
        width: 290px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        font-size: 16px;
        height: 96px;
        line-height: 24px;
    }
    &-btn{
      height: 60px;
      text-align: center;
      color:white;
      background-color: $button;
      width: 290px;
      margin: 0 15px 0 15px;
      font-size: 18px;
      margin-top: 30px;
      font-family: "roboto";
      line-height: 24px;
      @extend %btn;
    }
}

.products{
    width: 95%;
    margin: auto;
    flex-direction: column;
    background-color: #F3F3FF;
      h2{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align: center;
        width: 192px;
        line-height: 60px;
        font-size: 30px;
        margin: auto;
        margin-top: 30px;
        height: 60px;
      }
    .card{
        display: flex;
        height: 60px;
        margin-top: 10px;
        background-color: white;

        img{
            padding-left: 16px;
        }
        &-body{
            width: 8em;
            text-align: center;
        }
    }
}
.products>div{
    display: flex;
    flex-direction: column;
    width: 90%;

}
        .card:nth-child(1) { border: 1px solid $desktop-menu-color ;
        border-bottom: #A4AAD0; margin-top: 16px;}
        .card:nth-child(2) { border:1px solid $desktop-menu-color;border-top: #A4AAD0; }
        .card:nth-child(3) { border:1px solid $desktop-menu-color; border-bottom: #A4AAD0; }
        .card:nth-child(4) { border:1px solid $desktop-menu-color; border-top: #A4AAD0; }
        .card:nth-child(5) { border:1px solid $desktop-menu-color;border-bottom: #A4AAD0; }

.best-broker1{
  h3{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 48px;
        font-size: 30px;
        margin-top: 29px;
        height: 96px;
      }
      article{
        width: 95.4%;
        margin: auto;
        height: 683px;
        color: $dsc-color;
        text-align: left;
        line-height: 35px;
        font-family: "roboto";
        font-weight: regular;
        font-size: 20px;
        
      }
}
.best-broker2{
  h4{
        color: #42415B;
        font-family: "roboto";
        font-weight: bold;
        text-align:left;
        width: 95.4%;
        line-height: 37px;
        font-size: 22px;
        margin-top: 29px;
        height: 74px;
      }
      article{
        width: 95.4%;
        margin: auto;
        height: 386px;
        color: #42415B;
        text-align: left;
        line-height: 30px;
        font-family: "roboto";
        font-size: 18px;
        
          h5{
            font-family: "roboto";
          font-weight: bold;
          font-size: 18px;
          line-height: 30px;
          height: 60px;
          width: 254px;
          text-align: left;
          color: $title-color;
          
           &:before{
          font-family: "Font Awesome 5 Free";
          content: "\f058";
          display: inline-block;
        margin-right: 12px;}
        
        }
      }
         
      
    }


