@charset "UTF-8";
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .header-menu_right_3 {
    display: contents;
  }

  .header-menu_right {
    width: 79%;
  }

  .header-menu_right_4 {
    width: 21%;
  }

  .header-menu_right {
    text-align: right;
  }

  .header-menu_right i {
    width: 0%;
  }

  .slider {
    background-image: url("https://i.ibb.co/zbJjfj8/hero-img.jpg");
    height: 1116px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 76% 0%;
    width: 769px;
  }

  .products > div {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .products {
    width: 95%;
    margin: auto;
    background-color: #F3F3FF;
  }
  .products div {
    justify-content: space-around;
  }
  .products h2 {
    color: #42415B;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    width: 189px;
    line-height: 60px;
    font-size: 30px;
    margin: auto;
    margin-top: 29px;
  }
  .products .card {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
    background-color: white;
    width: 210px;
    height: 140px;
  }
  .products .card img {
    padding-left: 16px;
  }
  .products .card-body {
    width: 8em;
    text-align: center;
  }
}
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  font-family: "roboto";
  font-size: 1.2em;
  color: #42415B;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  height: 60px;
}
.sidepanel .dropdown-container a {
  font-family: "roboto";
  font-size: 14px;
  height: 19px;
  width: 65px;
  margin-top: 20px;
  color: #BBBED0;
}
.sidepanel .dropdown-btn {
  border-bottom: 1px solid #BBBED0;
  align-items: center;
}
.sidepanel .a-withBottomBorder a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #BBBED0;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.header-menu {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-menu_left {
  width: 60%;
  display: contents;
  border: 0;
}
.header-menu_left i {
  font-size: 1.5em;
  margin-right: 0.5em;
  font-size: 1.4em;
}
.header-menu_left i:before {
  color: #42415B;
  font-size: 1.1em;
}
.header-menu_left-logo {
  width: 91px;
  height: unset;
}
.header-menu_left-logo img {
  width: 75px;
}
.header-menu_right {
  width: 58%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}
.header-menu_right_4 {
  background-color: #F1A153;
  color: white;
  border: 0;
  height: 34px;
  line-height: 20px;
  width: 70px;
  font-family: "roboto";
  font-size: 12px;
  font-weight: 500;
}
.header-menu_right_1, .header-menu_right_2, .header-menu_right_3 {
  width: 10%;
}
.header-menu_right_4, .header-menu_right i {
  width: 32%;
  margin: 10px 0px 7px 0px;
}
.header-menu_right i {
  margin-right: 1.2em;
}
.header-menu_right i:before {
  font-size: 1.2em;
  color: #42415B;
}
.header-menu_right_1, .header-menu_right_2, .header-menu_right_3 {
  display: none;
}
.header-menu_right .fa-phone {
  font-size: 1em;
  color: #42415B;
  transform: scaleX(-1);
}

.header-mobile-menu .header-menu_left-logo {
  padding-left: 0;
}
.header-mobile-menu .sidepanel {
  padding-top: 4px;
}
.header-mobile-menu .sidepanel_left i:before {
  font-size: 1.4em;
}
.header-mobile-menu .sidepanel .fa-bars {
  font-size: 1.3em;
}
.header-mobile-menu .sidepanel .header-menu_left {
  align-items: center;
}
.header-mobile-menu .sidepanel .header-menu_left #logo-inner-panel {
  width: 75px;
  height: 27px;
}
.header-mobile-menu .dropdown-btn {
  display: flex;
  justify-content: space-between;
}

.header-menu_left-burger-menu, .header-menu_left-logo {
  height: unset !important;
}

#Logo {
  color: #42415B;
}

.fa-phone {
  font-size: 1em;
  color: #42415B;
  transform: scaleX(-1);
}

.mobile-menu-last-group {
  width: 164px;
  height: 172px;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 46px;
  margin-top: 38px;
}
.mobile-menu-last-group a {
  color: #42415B;
  height: 16px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "roboto";
  font-weight: bold;
  padding: 0;
}
.mobile-menu-last-group a:nth-child(1) {
  margin-top: 0;
}
.mobile-menu-last-group a:nth-child(3) {
  width: 164px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-last-group a:nth-child(3) i:before {
  margin-left: 8px;
}
.mobile-menu-last-group .slider-btn {
  width: 160px;
  height: 50px;
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
}

.slider-btn, .header-menu_right_4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background-image: url("https://i.ibb.co/zbJjfj8/hero-img.jpg");
  height: 89vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 54% 0%;
  width: 105%;
}
.slider-title {
  font-size: 38px;
  font-family: "roboto";
  font-weight: bold;
  color: white;
  width: 91%;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-size: 2.3em;
  line-height: 1.4em;
}
.slider-desc {
  font-family: "roboto";
  color: white;
  width: 95.5%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  font-size: 1em;
  height: 21%;
  line-height: 1.5;
}
.slider-btn {
  height: 13.2%;
  text-align: center;
  color: white;
  background-color: #F1A153;
  width: 96%;
  margin: auto;
  font-size: 1.1em;
  margin-top: 10%;
  font-family: "roboto";
  line-height: 1;
  display: flex;
}

.products {
  width: 95%;
  margin: auto;
  flex-direction: column;
  background-color: #F3F3FF;
}
.products .products > div {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.products h2 {
  color: #42415B;
  font-family: "roboto";
  font-weight: bold;
  text-align: center;
  width: 67%;
  line-height: 2;
  font-size: 1.8em;
  margin: auto;
  margin-top: 10%;
  height: 20%;
}
.products .card {
  display: flex;
  height: 20%;
  margin-top: 3.5%;
  background-color: white;
}
.products .card img {
  padding-left: 5.6%;
}
.products .card-body {
  width: 8em;
  text-align: center;
}

.card:nth-child(1) {
  border: 1px solid #A4AAD0;
  border-bottom: #A4AAD0;
  margin-top: 6%;
}

.card:nth-child(2) {
  border: 1px solid #A4AAD0;
  border-top: #BBBED0;
}

.card:nth-child(3) {
  border: 1px solid #A4AAD0;
  border-bottom: #BBBED0;
}

.card:nth-child(4) {
  border: 1px solid #A4AAD0;
  border-top: #BBBED0;
}

.card:nth-child(5) {
  border: 1px solid #A4AAD0;
  border-bottom: #BBBED0;
}

.best-broker1 h3 {
  color: #42415B;
  font-family: "roboto";
  font-weight: bold;
  text-align: left;
  width: 95.4%;
  line-height: 1.5;
  font-size: 1.9em;
  margin-top: 1em;
  height: 30%;
}
.best-broker1 article {
  width: 95.4%;
  margin: auto;
  color: #170307;
  text-align: left;
  line-height: 35px;
  font-family: "roboto";
  font-weight: regular;
  font-size: 1.22em;
}

.best-broker2 h4 {
  color: #42415B;
  font-family: "roboto";
  font-weight: bold;
  text-align: left;
  width: 95.4%;
  line-height: 2;
  font-size: 1.5em;
  margin-top: 10%;
}
.best-broker2 article {
  width: 95.4%;
  margin: auto;
  color: #42415B;
  text-align: left;
  line-height: 1.7;
  font-family: "roboto";
  font-size: 1.1em;
}
.best-broker2 article h5 {
  font-family: "roboto";
  font-weight: bold;
  font-size: 1em;
  line-height: 1.7;
  width: 88%;
  text-align: left;
  color: #42415B;
}
.best-broker2 article h5:before {
  font-family: "Font Awesome 5 Free";
  content: "";
  display: inline-block;
  margin-right: 5%;
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .header-menu {
    width: 100%;
  }

  .header-menu_right_3 {
    display: contents;
    font-weight: bold;
  }

  .header-menu_right_4 {
    width: 146px;
    height: 3.3em;
    margin-left: 1em;
  }

  .header-menu_right {
    width: 79%;
    padding-right: 2.5em;
  }

  .header-menu_right_4 {
    width: 21%;
  }

  .header-menu_right {
    text-align: right;
  }

  .header-menu_right i {
    width: 0%;
  }

  .slider {
    background-image: url("https://i.ibb.co/zbJjfj8/hero-img.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 58% 0%;
    width: 100%;
  }
  .slider-title {
    width: 690px;
    text-align: center;
    margin: auto;
    padding-top: 190px;
    height: 96px;
    line-height: 48px;
    font-size: 38px;
  }
  .slider-desc {
    font-size: 16px;
    width: 556px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 16px;
    height: 85px;
    margin-top: 30px;
  }
  .slider-btn {
    width: 200px;
    margin: auto;
    font-size: 18px;
    margin-top: 27px;
    font-family: "roboto";
    line-height: 24px;
  }

  .products > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .products {
    width: 95%;
    margin: auto;
    background-color: #F3F3FF;
  }
  .products div {
    justify-content: center;
  }
  .products h2 {
    color: #42415B;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
    width: 27%;
    line-height: 2;
    font-size: 1.8em;
    margin: auto;
    margin-top: 4%;
  }
  .products .card {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
    background-color: white;
    width: 29.2%;
    height: 8.7em;
    justify-content: center;
    align-items: center;
    margin: 0.8em;
  }
  .products .card img {
    padding-left: 16px;
  }
  .products .card-body {
    width: 8em;
    text-align: center;
  }

  .best-broker1 {
    margin-top: 11%;
  }
}
@media (min-width: 1210px) {
  .header-menu_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
  }
  .header-menu_right i:before {
    font-size: 1;
  }
  .header-menu_right a {
    display: block;
    flex-basis: 15%;
  }

  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
  }
  .header-menu_right .fa-phone:before {
    font-size: 0.9em;
  }

  .header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
  }

  .header-menu_right_3::before {
    content: "";
    font-family: "Font Awesome 5 Free";
  }

  .header-menu_right_4 {
    width: 13%;
  }

  .header-desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #9CA2C6;
  }
  .header-desktop-menu a {
    flex-basis: 7%;
  }

  .header-menu_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: center;
    width: 61%;
  }
  .header-menu_right i:before {
    font-size: 1;
  }
  .header-menu_right a {
    display: block;
    flex-basis: 15%;
  }

  .header-menu_right .fa-phone {
    font-size: 1em;
    color: #42415B;
    transform: scaleX(-1);
    width: 0%;
    text-align: center;
    position: relative;
    left: 2em;
  }
  .header-menu_right .fa-phone:before {
    font-size: 0.9em;
  }

  .header-menu_left {
    width: 33%;
    display: flex;
    border: 0;
  }

  .header-menu_right_3::before {
    content: "";
    font-family: "Font Awesome 5 Free";
  }

  .header-menu_right_4 {
    width: 13%;
  }

  .header-desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #9CA2C6;
  }
  .header-desktop-menu a {
    flex-basis: 7%;
    color: white;
  }

  .products-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    width: 89%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  .products-cont .card {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 165px;
    height: 183px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .products-cont .card:nth-child(1) {
    margin-top: 0;
  }
  .products-cont .card:nth-child(1):hover {
    background-color: #9CA2C6;
  }
  .products-cont .card:nth-child(1):hover .card-body > h5 {
    color: white;
  }
  .products-cont .products > div {
    display: flex;
    flex-direction: row !important;
  }
  .products-cont .slider .slider-title {
    width: 34%;
    text-align: left;
    padding-top: 30px;
    font-size: 2.3em;
    line-height: 1.4em;
    margin-left: 10%;
  }
  .products-cont .slider-desc {
    font-size: 16px;
    width: 556px;
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
    height: 85px;
    margin-top: 30px;
    margin-left: 10%;
  }
  .products-cont .slider-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 27px;
    line-height: 24px;
    margin-left: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
